openapi: 3.0.3
info:
  description: Core application API
  title: GUESTY OPEN API
  version: 1.0.0
servers:
  - url: https://open-api.guesty.com/v1
externalDocs:
  description: Visit Listings Github page
  url: https://github.com/guestyorg/listings
security:
  - bearerAuth: []
tags:
  - name: calendar
    description: Everything about calendar
  - name: AdditionalFees
    description: additional fees operations
  - name: listings
    description: Everything about listings
    externalDocs:
      description: Extra documentation for the service
      url: https://github.com/guestyorg/listings/wiki/API
  - name: billing
    description: Operation with listings related to billing functionality only. Private.
    externalDocs:
      description: Extra documentation for the service
      url: https://github.com/guestyorg/listings/wiki/API
  - name: properties
    description: API for property level
  - name: unit-types
    description: API for unit types level
  - name: units
    description: API for units level
components:
  schemas:
    Account:
      type: object
      properties:
        id:
          type: string
        active:
          type: boolean
          description: Status of connection
        name:
          type: string
        email:
          type: string
          format: email
        timezone:
          type: string
        mailgun:
          type: object
          properties: {}
        isInterestedInServiceOnExistingReservations:
          type: boolean
        siqnupQuestions:
          type: object
          properties: {}
        ignoredHooks:
          type: array
          items:
            type: string
            example: 5981b4b8c97c260f0067c499
        initialLocation:
          type: string
        recognizedRevenueDays:
          type: number
        initialReferrer:
          type: object
          properties:
            id:
              type: string
            question:
              type: string
            answer:
              type: string
        mailingAddress:
          type: object
          properties:
            lat:
              type: number
            lng:
              type: number
            full:
              type: string
        sisenseAccess:
          type: boolean
        recognizedRevenueMode:
          type: string
          enum:
            - check-in
            - check-out
            - per_night
        companyInformation:
          type: object
          properties:
            _id:
              type: string
            name:
              type: string
            contactFirstname:
              type: string
            contactLastname:
              type: string
            contactEmail:
              type: string
              format: email
            contactPhone:
              type: string
            businessType:
              type: string
            vatNum:
              type: number
            country:
              type: string
            address:
              type: string
            city:
              type: string
            zipCode:
              type: string
            corporationPlace:
              type: string
            submittedAt:
              type: string
              format: date
        createdAt:
          type: string
          format: date
        RUFeeActivation:
          type: boolean
        currency:
          type: string
        companyLogo:
          type: string
        accountCategorization:
          type: number
        accountCategorizationIsManual:
          type: boolean
        agodaEmail:
          type: string
          format: email
        onBoarding:
          type: object
          properties:
            createdFirstHookAt:
              type: string
              format: date
            zendeskTicketId:
              type: string
        migration:
          type: object
          properties:
            rateStrategy:
              type: string
              format: date
        pricePlanMinimum:
          type: number
        pricePlanMaximum:
          type: number
        SaaS:
          type: object
          properties: {}
        billing:
          type: object
          properties:
            billingCycle:
              type: string
            billingDay:
              type: number
            nextBillingDate:
              type: string
              format: date
            paymentMethods:
              type: array
              items: {}
            noFreezingFlow:
              type: boolean
            stripeCustomerId:
              type: string
        weekendBasePriceMigrationDone:
          type: boolean
        pms:
          type: object
          properties:
            paymentProcessing:
              type: object
              properties:
                active:
                  type: boolean
                paymentProviders:
                  type: object
                  properties:
                    stripe:
                      type: object
                      properties:
                        active:
                          type: boolean
                        status:
                          type: string
                        accountName:
                          type: string
                        defaultCurrency:
                          type: string
                        syncedAt:
                          type: string
                          format: date
                        payload:
                          type: object
                          properties:
                            id:
                              type: string
                            livemode:
                              type: boolean
                            token_type:
                              type: string
                            stripe_publishable_key:
                              type: string
                            stripe_user_id:
                              type: string
                            scope:
                              type: string
            website:
              type: object
              properties:
                defaultStatusForNewReservations:
                  type: string
                defaultSort:
                  type: string
                includedListings:
                  type: array
                  items: {}
                excludedListings:
                  type: array
                  items: {}
            calendar:
              type: object
              properties:
                requireReasonForUpdatingPricing:
                  type: boolean
            cleaningStatus:
              type: object
              properties:
                statusFade:
                  type: object
                  properties:
                    active:
                      type: boolean
                    days:
                      type: number
                    toStatus:
                      type: string
                markAsDirtyOnCheckIn:
                  type: boolean
        whiteLabel:
          type: object
          properties:
            integrationEmailDomains:
              type: array
              items: {}
            shouldWhiteLabelApp:
              type: boolean
        hadFirstBookingAt:
          type: string
          format: date
        availablePhoneNumbers:
          type: array
          items: {}
        customFields:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              displayName:
                type: string
              isPublic:
                type: boolean
              key:
                type: string
              object:
                type: string
                enum:
                  - listing
                  - reservation
              options:
                type: array
                items:
                  type: string
              type:
                type: string
                enum:
                  - user
                  - boolean
                  - enum
                  - longtext
                  - date
                  - text
                  - time
                  - contact
                  - number
        plan:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              planType:
                type: string
              value:
                type: number
              isLocked:
                type: boolean
        financials:
          type: object
          properties:
            id:
              type: string
            channelCommission:
              type: object
              properties:
                rentalsUnited:
                  type: object
                  properties:
                    bookingCom:
                      type: object
                      properties:
                        tax:
                          type: number
                    expedia:
                      type: object
                      properties:
                        commission:
                          type: object
                          properties:
                            value:
                              type: number
                            of:
                              type: array
                              items:
                                type: string
                            tax:
                              type: number
                    agoda:
                      type: object
                      properties:
                        commission:
                          type: object
                          properties:
                            value:
                              type: number
                            of:
                              type: array
                              items:
                                type: string
                            tax:
                              type: number
                bookingCom:
                  type: object
                  properties:
                    tax:
                      type: number
                homeaway2:
                  type: object
                  properties:
                    commission:
                      type: object
                      properties:
                        value:
                          type: number
                        of:
                          type: array
                          items:
                            type: string
                        tax:
                          type: number
                useAccountSettings:
                  type: boolean
        commissionFormula:
          type: string
        netIncomeFormula:
          type: string
        ownerRevenueFormula:
          type: string
        cancellationSurvey:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              date:
                type: string
                format: date
              reasons:
                type: object
                properties:
                  Onboarding experience:
                    type: string
                    enum:
                      - hidden
                      - unselected
                      - selected
                  Missing features:
                    type: string
                    enum:
                      - hidden
                      - unselected
                      - selected
                  Technical issues:
                    type: string
                    enum:
                      - hidden
                      - unselected
                      - selected
                  System usability:
                    type: string
                    enum:
                      - hidden
                      - unselected
                      - selected
                  Value for money:
                    type: string
                    enum:
                      - hidden
                      - unselected
                      - selected
                  Customer support:
                    type: string
                    enum:
                      - hidden
                      - unselected
                      - selected
                  Guest Communication Service:
                    type: string
                    enum:
                      - hidden
                      - unselected
                      - selected
                  Other:
                    type: string
                    enum:
                      - hidden
                      - unselected
                      - selected
              subReasons:
                type: object
                properties:
                  Other:
                    type: object
                    properties:
                      Other:
                        type: string
                        enum:
                          - hidden
                          - unselected
                          - selected
                      OtherInput:
                        type: string
        internalData:
          type: object
          properties:
            agreedToTOS:
              type: object
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                userEmail:
                  type: string
                  format: email
                date:
                  type: string
                  format: email
            features:
              type: object
              properties:
                airbnbIntegration:
                  type: string
            oldOnboardingStatus:
              type: string
            accountManager:
              type: string
            onboardingStatus:
              type: string
        taxes:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              type:
                type: string
              units:
                type: string
              quantifier:
                type: string
              amount:
                type: number
        commissionTaxPercentage:
          type: number
        systemEmailsRecipients:
          type: array
          items:
            type: string
        apiKeys:
          type: array
          items: {}
        markups:
          type: object
          properties:
            agoda:
              type: object
              properties:
                amount:
                  type: number
                units:
                  type: string
                status:
                  type: string
        signupQuestions:
          type: array
          items: {}
        receptionistsService:
          type: object
          properties:
            receptionDesk:
              type: object
              properties:
                ittt:
                  type: array
                  items: {}
            screening:
              type: object
              properties:
                checklist:
                  type: array
                  items: {}
            contactPersonUserId:
              type: string
    Owner:
      type: object
      properties:
        ownersPortalSettings:
          type: object
          description: The OPSettings object
          properties:
            bookedNights:
              type: boolean
            revenue:
              type: boolean
            accommodationFare:
              type: boolean
            guestsReports:
              type: boolean
            occupancy:
              type: boolean
            avgNightlyRate:
              type: boolean
            revPal:
              type: boolean
          example:
            ownersPortalSettings:
              bookedNights: true
              revenue: true
        listings:
          type: array
          description: Listings Id
          items:
            type: string
          example:
            - 5e32fc021690ba0026f6f778
            - 5e32fc021690d15417543012
            - 5e32fc021690d15417543013
        locale:
          type: string
          description: Localization
          example: en-US
        active:
          type: boolean
          example: 'false'
        allowReservations:
          type: boolean
          example: 'false'
        showReservationTooltips:
          type: boolean
          example: 'false'
        workingCapital:
          type: number
          example: 0
        firstName:
          type: string
          example: Elad
        lastName:
          type: string
          example: Kremer
        fullName:
          type: string
          example: Elad Kremer
        email:
          type: string
          example: example@guesty.com
          description: Primary email address
        address:
          type: string
          example: test address
        phone:
          type: string
          example: '15417543010'
          description: Primary phone number
        picture:
          type: object
          properties:
            thumbnail:
              type: string
            regular:
              type: string
            large:
              type: string
          example:
            thumbnail: https://cdn.filepicker.io/api/file/bBnKEk8TlmJAUHcLApRx
            large: https://cdn.filepicker.io/api/file/bBnKEk8TlmJAUHcLApRx
        notes:
          type: string
          example: this is a note
        createdAt:
          type: string
          description: date ISO
          example: '2020-03-13T12:17:06.758Z'
    OwnerWithListingIdAsObject:
      type: object
      title: title test
      description: desctiption test
      properties:
        ownersPortalSettings:
          type: object
          description: The OPSettings object
          properties:
            bookedNights:
              type: boolean
            revenue:
              type: boolean
            accommodationFare:
              type: boolean
            guestsReports:
              type: boolean
            occupancy:
              type: boolean
            avgNightlyRate:
              type: boolean
            revPal:
              type: boolean
          example:
            ownersPortalSettings:
              bookedNights: true
              revenue: true
        listings:
          type: array
          description: Listings Id
          items:
            type: object
            properties:
              _id:
                type: string
                example: 563e0b6a08a2710e00057b82
                description: Unique Id
          example:
            - _id: 5e32fc021690ba0sds6f6f778
            - _id: 5e32fc021690ba002dsklf778
        locale:
          type: string
          description: Localization
          example: en-US
        active:
          type: boolean
          example: 'false'
        allowReservations:
          type: boolean
          example: 'false'
        showReservationTooltips:
          type: boolean
          example: 'false'
        workingCapital:
          type: number
          example: 0
        firstName:
          type: string
          example: Elad
        lastName:
          type: string
          example: Kremer
        fullName:
          type: string
          example: Elad Kremer
        email:
          type: string
          example: example@guesty.com
          description: Primary email address
        address:
          type: string
          example: test address
        phone:
          type: string
          example: '15417543010'
          description: Primary phone number
        picture:
          type: object
          properties:
            thumbnail:
              type: string
            regular:
              type: string
            large:
              type: string
          example:
            thumbnail: https://cdn.filepicker.io/api/file/bBnKEk8TlmJAUHcLApRx
            large: https://cdn.filepicker.io/api/file/bBnKEk8TlmJAUHcLApRx
        notes:
          type: string
          example: this is a note
        createdAt:
          type: string
          description: date ISO
          example: '2020-03-13T12:17:06.758Z'
    Integration:
      type: object
      properties:
        _id:
          type: string
          description: Unique Id
          example: 5958c7e5884e961000817799
        airbnb2:
          type: object
          properties:
            credentials:
              type: object
              properties:
                code:
                  type: string
                expiresAt:
                  type: integer
                accessToken:
                  type: string
                refreshToken:
                  type: string
                lastForceRefresh:
                  type: string
                  description: date
            forwardEmails:
              type: object
              properties:
                all:
                  type: boolean
                  default: true
                emails:
                  type: array
                  items:
                    type: string
            createdAt:
              type: string
              description: date
          description: Only if platform is airbnb
          example:
            ignored:
              reservations: []
              listings: []
            emailsFromSupport: []
        forwardEmails:
          type: object
          properties:
            all:
              type: boolean
              default: true
            emails:
              type: array
              items:
                type: string
        active:
          type: boolean
          description: Status of connection
        platform:
          type: string
        listings:
          type: array
          items:
            type: object
            description: Listing details
        complexes:
          type: array
          items:
            type: object
            description: Complex details
        nickname:
          type: string
          example: naama
        channelId:
          type: string
        activatedAt:
          type: string
          description: Date
        disconnectedAt:
          type: string
          description: Date
        proxyEmail:
          type: string
        incomingEmail:
          type: string
        externalAccountId:
          type: string
        id:
          type: integer
          example: naama@user.guesty.com
          description: External ID
        companyName:
          type: string
        fetchRequests:
          type: array
          items:
            type: object
            properties:
              fetchAllListings:
                type: boolean
              externalListingIds:
                type: array
                items:
                  type: string
              status:
                type: string
                enum:
                  - NOT_STARTED
                  - IN_PROGRESS
                  - COMPLETED
                  - FAILED
                  - TIMEOUT
              createTime:
                type: string
                description: Date
              updateTime:
                type: string
                description: Date
              finishedTime:
                type: string
                description: Date
        status:
          type: string
          enum:
            - NOT_CONNECTED
            - CONNECTING
            - CONNECTED
            - FAILED
            - TIMEOUT
            - DISCONNECTED
            - PENDING
        migration:
          type: object
          properties:
            status:
              type: string
              enum:
                - IN_PROGRESS
                - COMPLETED
                - FAILED
            createTime:
              type: string
              description: Date
            updateTime:
              type: string
              description: Date
            finishedTime:
              type: string
              description: Date
            steps:
              type: array
              items:
                type: object
                description: Step details
            discrepancyStepExecuted:
              type: boolean
              default: false
            discrepancyResolution:
              type: string
              enum:
                - GUESTY
                - AIRBNB
            listingQuantityDiscrepancyStepExecuted:
              type: boolean
              default: false
            error:
              type: object
              properties:
                at:
                  type: string
                  description: Date
                code:
                  type: string
                message:
                  type: string
                raw:
                  type: object
            notes:
              type: string
            isRollingBack:
              type: boolean
              default: false
        userId:
          type: string
          example: 563e0b6a08a2710e00057b85
        accountId:
          type: string
          description: Owner
          example: 563e0b6a08a2710e00057b82
        tripAdvisor:
          type: object
          description: TripAdvisor details
        homeaway2:
          type: object
          description: Homeaway details
        bookingCom:
          type: object
          properties:
            legalEntityId:
              type: string
          description: BookingCom details
        createdAt:
          type: string
          description: Date
        missingStep:
          type: string
        steps:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              status:
                type: string
                enum:
                  - COMPLETED
                  - IN_PROGRESS
              createTime:
                type: string
                description: Date
              updateTime:
                type: string
                description: Date
        newIntegrationBackup:
          type: object
        threadIdsMigrated:
          type: boolean
        isDeleted:
          type: boolean
        deletedAt:
          type: string
          description: Date
    Field:
      type: string
      description: Subject of the filter
      properties:
        confirmedAt:
          type: string
          description: YYYY-MM-DD
        checkIn:
          type: string
          description: YYYY-MM-DD
        checkOut:
          type: string
          description: YYYY-MM-DD
        customFields:
          type: string
          description: customFields.fieldName
        owner:
          type: string
          description: owner.fieldName
          example: owner._id
        listing:
          type: string
          description: listing.fieldName
          example: listing.nickname
    ObjectIdObj:
      type: object
      properties:
        _id:
          type: string
          example: 563e0b6a08a2710e00057b82
          description: Unique Id
    AccountId:
      type: object
      properties:
        accountId:
          type: string
          example: 563e0b6a08a2710e00057b82
          description: Unique Id
    ObjectId:
      type: string
      description: Unique Id
      example: 563e0b6a08a2710e00057b82
    Money:
      type: object
      properties:
        altered:
          type: boolean
        invoiceItems:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
                description: Unique Id
                example: 563e0b6a08a2710e00057b82
              title:
                type: string
              amount:
                type: number
              currency:
                type: string
              type:
                type: string
              isLocked:
                type: boolean
              isTax:
                type: boolean
              normalType:
                type: string
              isAutoAdditionalFee:
                type: boolean
              secondIdentifier:
                type: string
        payments:
          type: array
          items:
            type: object
            properties:
              authenticationRequiredData:
                type: object
                properties:
                  lastAuthMsgSentDate:
                    type: string
                    example: '2021-08-16T08:38:20.280Z'
                  authenticationUrl:
                    type: string
              paymentMethodStatus:
                type: string
              isAuthorizationHold:
                type: boolean
              status:
                type: string
              refunds:
                type: array
              authorizationHoldCaptures:
                type: array
              createdAt:
                type: string
                example: '2021-08-16T08:38:20.280Z'
              attempts:
                type: array
                items:
                  type: object
                  properties:
                    createdAt:
                      type: string
                      example: '2021-08-16T08:38:20.280Z'
                    _id:
                      type: string
                      description: Unique Id
                      example: 563e0b6a08a2710e00057b82
                    status:
                      type: string
                    error:
                      type: string
                    payload:
                      type: object
                      properties:
                        charge:
                          type: string
                        code:
                          type: string
                        decline_code:
                          type: string
                        doc_url:
                          type: string
                        message:
                          type: string
                        payment_intent:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Unique Id
                              example: 563e0b6a08a2710e00057b82
                            object:
                              type: string
                            amount:
                              type: number
                            amount_capturable:
                              type: number
                            amount_received:
                              type: number
                            application:
                              type: string
                            capture_method:
                              type: string
                            charges:
                              type: object
                              properties:
                                object:
                                  type: string
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                      object:
                                        type: string
                                      amount:
                                        type: number
                                      amount_captured:
                                        type: number
                                      amount_refunded:
                                        type: number
                                      application:
                                        type: string
                                      billing_details:
                                        type: object
                                        properties:
                                          address:
                                            type: object
                                            properties:
                                              city:
                                                type: string
                                              country:
                                                type: string
                                              line1:
                                                type: string
                                              line2:
                                                type: string
                                              postal_code:
                                                type: string
                                              state:
                                                type: string
                                          email:
                                            type: string
                                          name:
                                            type: string
                                          phone:
                                            type: string
                                      calculated_statement_descriptor:
                                        type: string
                                      captured:
                                        type: boolean
                                      created:
                                        type: number
                                      currency:
                                        type: string
                                      customer:
                                        type: string
                                      description:
                                        type: string
                                      disputed:
                                        type: boolean
                                      failure_code:
                                        type: string
                                      failure_message:
                                        type: string
                                      livemode:
                                        type: boolean
                                      metadata:
                                        type: object
                                        properties:
                                          accountId:
                                            type: string
                                            description: Unique Id
                                            example: 563e0b6a08a2710e00057b82
                                          confirmationCode:
                                            type: string
                                          reservationId:
                                            type: string
                                            description: Unique Id
                                            example: 563e0b6a08a2710e00057b82
                                          OTA:
                                            type: string
                                          listingId:
                                            type: string
                                            description: Unique Id
                                            example: 563e0b6a08a2710e00057b82
                                      outcome:
                                        type: object
                                        properties:
                                          network_status:
                                            type: string
                                          reason:
                                            type: string
                                          risk_level:
                                            type: string
                                          risk_score:
                                            type: number
                                          seller_message:
                                            type: string
                                          type:
                                            type: string
                                      paid:
                                        type: boolean
                                      payment_intent:
                                        type: string
                                      payment_method:
                                        type: string
                                      payment_method_details:
                                        type: object
                                        properties:
                                          card:
                                            type: object
                                            properties:
                                              brand:
                                                type: string
                                              checks:
                                                type: object
                                                properties:
                                                  cvc_check:
                                                    type: string
                                              country:
                                                type: string
                                              exp_month:
                                                type: number
                                              exp_year:
                                                type: number
                                              fingerprint:
                                                type: string
                                              funding:
                                                type: string
                                              last4:
                                                type: string
                                              network:
                                                type: string
                                          type:
                                            type: string
                                      refunded:
                                        type: boolean
                                      refunds:
                                        type: object
                                        properties:
                                          object:
                                            type: string
                                          data:
                                            type: array
                                          has_more:
                                            type: boolean
                                          total_count:
                                            type: number
                                          url:
                                            type: string
                                      statement_descriptor:
                                        type: string
                                      status:
                                        type: string
                                has_more:
                                  type: boolean
                                total_count:
                                  type: number
                                url:
                                  type: string
                            client_secret:
                              type: string
                            confirmation_method:
                              type: string
                            created:
                              type: number
                            currency:
                              type: string
                            customer:
                              type: string
                            description:
                              type: string
                            livemode:
                              type: boolean
                            metadata:
                              type: object
                              properties:
                                accountId:
                                  type: string
                                  description: Unique Id
                                  example: 563e0b6a08a2710e00057b82
                                confirmationCode:
                                  type: string
                                reservationId:
                                  type: string
                                  description: Unique Id
                                  example: 563e0b6a08a2710e00057b82
                                OTA:
                                  type: string
                                listingId:
                                  type: string
                                  description: Unique Id
                                  example: 563e0b6a08a2710e00057b82
                            next_action:
                              type: object
                              properties:
                                type:
                                  type: string
                                use_stripe_sdk:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                    merchant:
                                      type: string
                                    three_d_secure_2_source:
                                      type: string
                                    directory_server_name:
                                      type: string
                                    server_transaction_id:
                                      type: string
                                    three_ds_method_url:
                                      type: string
                                    three_ds_optimizations:
                                      type: string
                                    directory_server_encryption:
                                      type: object
                                      properties:
                                        directory_server_id:
                                          type: string
                                        algorithm:
                                          type: string
                                        certificate:
                                          type: string
                                        root_certificate_authorities:
                                          type: array
                            payment_method:
                              type: string
                            payment_method_options:
                              type: object
                              properties:
                                card:
                                  type: object
                                  properties:
                                    request_three_d_secure:
                                      type: string
                            payment_method_types:
                              type: array
                            statement_descriptor:
                              type: string
                            status:
                              type: string
                        payment_method:
                          type: object
                          properties:
                            id:
                              type: string
                            object:
                              type: string
                            billing_details:
                              type: object
                              properties:
                                address:
                                  type: object
                                  properties:
                                    city:
                                      type: string
                                    country:
                                      type: string
                                    line1:
                                      type: string
                                    line2:
                                      type: string
                                    postal_code:
                                      type: string
                                    state:
                                      type: string
                                email:
                                  type: string
                                name:
                                  type: string
                                phone:
                                  type: string
                            card:
                              type: object
                              properties:
                                brand:
                                  type: string
                                checks:
                                  type: object
                                  properties:
                                    cvc_check:
                                      type: string
                                country:
                                  type: string
                                exp_month:
                                  type: number
                                exp_year:
                                  type: number
                                fingerprint:
                                  type: string
                                funding:
                                  type: string
                                last4:
                                  type: string
                                networks:
                                  type: object
                                  properties:
                                    available:
                                      type: array
                                three_d_secure_usage:
                                  type: object
                                  properties:
                                    supported:
                                      type: boolean
                            created:
                              type: number
                            customer:
                              type: string
                            livemode:
                              type: boolean
                            type:
                              type: string
                        type:
                          type: string
                        statusCode:
                          type: number
                        requestId:
                          type: string
              receiptTargets:
                type: array
              _id:
                type: string
                description: Unique Id
                example: 563e0b6a08a2710e00057b82
              amount:
                type: number
              shouldBePaidAt:
                type: string
                example: '2021-08-16T08:38:20.280Z'
              paymentMethodId:
                type: string
                description: Unique Id
                example: 563e0b6a08a2710e00057b82
              guestId:
                type: string
                description: Unique Id
                example: 563e0b6a08a2710e00057b82
              currency:
                type: string
        autoPaymentsPolicy:
          type: array
        currency:
          type: string
        paymentProviderIds:
          type: array
        fareAccommodationAdjustment:
          type: number
        fareAccommodationDiscount:
          type: number
        fareAccommodation:
          type: number
        fareAccommodationAdjusted:
          type: number
        fareCleaning:
          type: number
        hostServiceFee:
          type: number
        hostServiceFeeTax:
          type: number
        hostServiceFeeIncTax:
          type: number
        subTotalPrice:
          type: number
        hostPayout:
          type: number
        hostPayoutUsd:
          type: number
        totalTaxes:
          type: number
        totalRefunded:
          type: number
        totalPaid:
          type: number
        paymentsDue:
          type: number
        balanceDue:
          type: number
        isFullyPaid:
          type: boolean
        useAccountRevenueShare:
          type: boolean
        netIncomeFormula:
          type: string
        netIncome:
          type: number
        commissionFormula:
          type: string
        commission:
          type: number
        commissionTaxPercentage:
          type: number
        commissionTax:
          type: number
        commissionIncTax:
          type: number
        ownerRevenueFormula:
          type: string
        ownerRevenue:
          type: number
        currencyConversionRateToAccount:
          type: number
        isTouchedPayments:
          type: boolean
    Reservation:
      type: object
      properties:
        integration:
          type: object
          properties:
            limitations:
              type: object
              properties:
                availableStatuses:
                  type: array
            bookingCom:
              type: object
              properties:
                invalidCreditCards:
                  type: array
                reports:
                  type: array
            _id:
              type: string
              description: Unique Id
              example: 563e0b6a08a2710e00057b82
            platform:
              type: string
        guestyFeeDetails:
          type: object
          properties:
            commission:
              type: number
            feeMinimum:
              type: number
            fee:
              type: number
            feeUsd:
              type: number
            isMinimumFee:
              type: boolean
            isMaximumFee:
              type: boolean
            planItems:
              type: array
        review:
          type: object
          properties:
            shouldReview:
              type: boolean
        atTimeOfConfirmation:
          type: object
          properties:
            snapshotCreated:
              type: boolean
            channelCommission:
              type: object
              properties:
                useAccountSettings:
                  type: boolean
                _id:
                  type: string
                  description: Unique Id
                  example: 563e0b6a08a2710e00057b82
                manual:
                  type: array
            taxes:
              type: array
              items:
                type: object
                properties:
                  appliedOnFees:
                    type: string
                  appliedByDefaultOnChannels:
                    type: array
                  _id:
                    type: string
                    description: Unique Id
                    example: 563e0b6a08a2710e00057b82
                  name:
                    type: string
                  units:
                    type: string
                  quantifier:
                    type: string
                  amount:
                    type: number
                  appliedToAllFees:
                    type: boolean
                  type:
                    type: string
            monthlyPriceFactor:
              type: number
            weeklyPriceFactor:
              type: number
            useAccountRevenueShare:
              type: boolean
        flag:
          type: boolean
        accountingEnabled:
          type: boolean
        isBMApplied:
          type: boolean
        confirmedPreBookings:
          type: array
        pulledByDailySync:
          type: boolean
        manuallyCreated:
          type: boolean
        _id:
          type: string
          description: Unique Id
          example: 563e0b6a08a2710e00057b82
        status:
          type: string
        checkIn:
          type: string
          example: '2021-08-17T07:00:00.000Z'
        checkOut:
          type: string
          example: '2021-08-17T07:00:00.000Z'
        nightsCount:
          type: number
        guestsCount:
          type: number
        money:
          type: object
          properties:
            altered:
              type: boolean
            invoiceItems:
              type: array
              items:
                type: object
                properties:
                  _id:
                    type: string
                    description: Unique Id
                    example: 563e0b6a08a2710e00057b82
                  title:
                    type: string
                  amount:
                    type: number
                  currency:
                    type: string
                  type:
                    type: string
                  isLocked:
                    type: boolean
                  isTax:
                    type: boolean
                  normalType:
                    type: string
                  isAutoAdditionalFee:
                    type: boolean
                  secondIdentifier:
                    type: string
            payments:
              type: array
              items:
                type: object
                properties:
                  authenticationRequiredData:
                    type: object
                    properties:
                      lastAuthMsgSentDate:
                        type: string
                        example: '2021-08-16T08:38:20.280Z'
                      authenticationUrl:
                        type: string
                  paymentMethodStatus:
                    type: string
                  isAuthorizationHold:
                    type: boolean
                  status:
                    type: string
                  refunds:
                    type: array
                  authorizationHoldCaptures:
                    type: array
                  createdAt:
                    type: string
                    example: '2021-08-16T08:38:20.280Z'
                  attempts:
                    type: array
                    items:
                      type: object
                      properties:
                        createdAt:
                          type: string
                          example: '2021-08-16T08:38:20.280Z'
                        _id:
                          type: string
                          description: Unique Id
                          example: 563e0b6a08a2710e00057b82
                        status:
                          type: string
                        error:
                          type: string
                        payload:
                          type: object
                          properties:
                            charge:
                              type: string
                            code:
                              type: string
                            decline_code:
                              type: string
                            doc_url:
                              type: string
                            message:
                              type: string
                            payment_intent:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Unique Id
                                  example: 563e0b6a08a2710e00057b82
                                object:
                                  type: string
                                amount:
                                  type: number
                                amount_capturable:
                                  type: number
                                amount_received:
                                  type: number
                                application:
                                  type: string
                                capture_method:
                                  type: string
                                charges:
                                  type: object
                                  properties:
                                    object:
                                      type: string
                                    data:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                          object:
                                            type: string
                                          amount:
                                            type: number
                                          amount_captured:
                                            type: number
                                          amount_refunded:
                                            type: number
                                          application:
                                            type: string
                                          billing_details:
                                            type: object
                                            properties:
                                              address:
                                                type: object
                                                properties:
                                                  city:
                                                    type: string
                                                  country:
                                                    type: string
                                                  line1:
                                                    type: string
                                                  line2:
                                                    type: string
                                                  postal_code:
                                                    type: string
                                                  state:
                                                    type: string
                                              email:
                                                type: string
                                              name:
                                                type: string
                                              phone:
                                                type: string
                                          calculated_statement_descriptor:
                                            type: string
                                          captured:
                                            type: boolean
                                          created:
                                            type: number
                                          currency:
                                            type: string
                                          customer:
                                            type: string
                                          description:
                                            type: string
                                          disputed:
                                            type: boolean
                                          failure_code:
                                            type: string
                                          failure_message:
                                            type: string
                                          livemode:
                                            type: boolean
                                          metadata:
                                            type: object
                                            properties:
                                              accountId:
                                                type: string
                                                description: Unique Id
                                                example: 563e0b6a08a2710e00057b82
                                              confirmationCode:
                                                type: string
                                              reservationId:
                                                type: string
                                                description: Unique Id
                                                example: 563e0b6a08a2710e00057b82
                                              OTA:
                                                type: string
                                              listingId:
                                                type: string
                                                description: Unique Id
                                                example: 563e0b6a08a2710e00057b82
                                          outcome:
                                            type: object
                                            properties:
                                              network_status:
                                                type: string
                                              reason:
                                                type: string
                                              risk_level:
                                                type: string
                                              risk_score:
                                                type: number
                                              seller_message:
                                                type: string
                                              type:
                                                type: string
                                          paid:
                                            type: boolean
                                          payment_intent:
                                            type: string
                                          payment_method:
                                            type: string
                                          payment_method_details:
                                            type: object
                                            properties:
                                              card:
                                                type: object
                                                properties:
                                                  brand:
                                                    type: string
                                                  checks:
                                                    type: object
                                                    properties:
                                                      cvc_check:
                                                        type: string
                                                  country:
                                                    type: string
                                                  exp_month:
                                                    type: number
                                                  exp_year:
                                                    type: number
                                                  fingerprint:
                                                    type: string
                                                  funding:
                                                    type: string
                                                  last4:
                                                    type: string
                                                  network:
                                                    type: string
                                              type:
                                                type: string
                                          refunded:
                                            type: boolean
                                          refunds:
                                            type: object
                                            properties:
                                              object:
                                                type: string
                                              data:
                                                type: array
                                              has_more:
                                                type: boolean
                                              total_count:
                                                type: number
                                              url:
                                                type: string
                                          statement_descriptor:
                                            type: string
                                          status:
                                            type: string
                                    has_more:
                                      type: boolean
                                    total_count:
                                      type: number
                                    url:
                                      type: string
                                client_secret:
                                  type: string
                                confirmation_method:
                                  type: string
                                created:
                                  type: number
                                currency:
                                  type: string
                                customer:
                                  type: string
                                description:
                                  type: string
                                livemode:
                                  type: boolean
                                metadata:
                                  type: object
                                  properties:
                                    accountId:
                                      type: string
                                      description: Unique Id
                                      example: 563e0b6a08a2710e00057b82
                                    confirmationCode:
                                      type: string
                                    reservationId:
                                      type: string
                                      description: Unique Id
                                      example: 563e0b6a08a2710e00057b82
                                    OTA:
                                      type: string
                                    listingId:
                                      type: string
                                      description: Unique Id
                                      example: 563e0b6a08a2710e00057b82
                                next_action:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                    use_stripe_sdk:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                        merchant:
                                          type: string
                                        three_d_secure_2_source:
                                          type: string
                                        directory_server_name:
                                          type: string
                                        server_transaction_id:
                                          type: string
                                        three_ds_method_url:
                                          type: string
                                        three_ds_optimizations:
                                          type: string
                                        directory_server_encryption:
                                          type: object
                                          properties:
                                            directory_server_id:
                                              type: string
                                            algorithm:
                                              type: string
                                            certificate:
                                              type: string
                                            root_certificate_authorities:
                                              type: array
                                payment_method:
                                  type: string
                                payment_method_options:
                                  type: object
                                  properties:
                                    card:
                                      type: object
                                      properties:
                                        request_three_d_secure:
                                          type: string
                                payment_method_types:
                                  type: array
                                statement_descriptor:
                                  type: string
                                status:
                                  type: string
                            payment_method:
                              type: object
                              properties:
                                id:
                                  type: string
                                object:
                                  type: string
                                billing_details:
                                  type: object
                                  properties:
                                    address:
                                      type: object
                                      properties:
                                        city:
                                          type: string
                                        country:
                                          type: string
                                        line1:
                                          type: string
                                        line2:
                                          type: string
                                        postal_code:
                                          type: string
                                        state:
                                          type: string
                                    email:
                                      type: string
                                    name:
                                      type: string
                                    phone:
                                      type: string
                                card:
                                  type: object
                                  properties:
                                    brand:
                                      type: string
                                    checks:
                                      type: object
                                      properties:
                                        cvc_check:
                                          type: string
                                    country:
                                      type: string
                                    exp_month:
                                      type: number
                                    exp_year:
                                      type: number
                                    fingerprint:
                                      type: string
                                    funding:
                                      type: string
                                    last4:
                                      type: string
                                    networks:
                                      type: object
                                      properties:
                                        available:
                                          type: array
                                    three_d_secure_usage:
                                      type: object
                                      properties:
                                        supported:
                                          type: boolean
                                created:
                                  type: number
                                customer:
                                  type: string
                                livemode:
                                  type: boolean
                                type:
                                  type: string
                            type:
                              type: string
                            statusCode:
                              type: number
                            requestId:
                              type: string
                  receiptTargets:
                    type: array
                  _id:
                    type: string
                    description: Unique Id
                    example: 563e0b6a08a2710e00057b82
                  amount:
                    type: number
                  shouldBePaidAt:
                    type: string
                    example: '2021-08-16T08:38:20.280Z'
                  paymentMethodId:
                    type: string
                    description: Unique Id
                    example: 563e0b6a08a2710e00057b82
                  guestId:
                    type: string
                    description: Unique Id
                    example: 563e0b6a08a2710e00057b82
                  currency:
                    type: string
            autoPaymentsPolicy:
              type: array
            currency:
              type: string
            paymentProviderIds:
              type: array
            fareAccommodationAdjustment:
              type: number
            fareAccommodationDiscount:
              type: number
            fareAccommodation:
              type: number
            fareAccommodationAdjusted:
              type: number
            fareCleaning:
              type: number
            hostServiceFee:
              type: number
            hostServiceFeeTax:
              type: number
            hostServiceFeeIncTax:
              type: number
            subTotalPrice:
              type: number
            hostPayout:
              type: number
            hostPayoutUsd:
              type: number
            totalTaxes:
              type: number
            totalRefunded:
              type: number
            totalPaid:
              type: number
            paymentsDue:
              type: number
            balanceDue:
              type: number
            isFullyPaid:
              type: boolean
            useAccountRevenueShare:
              type: boolean
            netIncomeFormula:
              type: string
            netIncome:
              type: number
            commissionFormula:
              type: string
            commission:
              type: number
            commissionTaxPercentage:
              type: number
            commissionTax:
              type: number
            commissionIncTax:
              type: number
            ownerRevenueFormula:
              type: string
            ownerRevenue:
              type: number
            currencyConversionRateToAccount:
              type: number
            isTouchedPayments:
              type: boolean
        listingId:
          type: string
          description: Unique Id
          example: 563e0b6a08a2710e00057b82
        checkInDateLocalized:
          type: string
        checkOutDateLocalized:
          type: string
        accountId:
          type: string
          description: Unique Id
          example: 563e0b6a08a2710e00057b82
        guestId:
          type: string
          description: Unique Id
          example: 563e0b6a08a2710e00057b82
        source:
          type: string
        confirmationCode:
          type: string
        mtl:
          type: object
          properties:
            assigned:
              type: boolean
            _id:
              type: string
              description: Unique Id
              example: 563e0b6a08a2710e00057b82
        isReturningGuest:
          type: boolean
        confirmedAt:
          type: string
          example: '2021-08-17T07:00:00.000Z'
        importedAt:
          type: string
          example: '2021-08-17T07:00:00.000Z'
        additionalFeesAtCreation:
          type: array
          items:
            type: object
            properties:
              automationSources:
                type: array
              _id:
                type: string
                description: Unique Id
                example: 563e0b6a08a2710e00057b82
              isPercentage:
                type: boolean
              isAutomated:
                type: boolean
              name:
                type: string
              type:
                type: string
              value:
                type: number
              accountId:
                type: string
                description: Unique Id
                example: 563e0b6a08a2710e00057b82
              multiplier:
                type: string
              targetFee:
                type: string
        createdAt:
          type: string
          example: '2021-08-17T07:00:00.000Z'
        pendingTasks:
          type: array
        customFields:
          type: array
        lastUpdatedAt:
          type: string
          example: '2021-08-17T07:00:00.000Z'
        __v:
          type: number
        conversationId:
          type: string
          description: Unique Id
          example: 563e0b6a08a2710e00057b82
        id:
          type: string
          description: Unique Id
          example: 563e0b6a08a2710e00057b82
    OwnerReservation:
      type: object
      properties:
        _id:
          type: string
          description: Unique Id
          example: 563e0b6a08a2710e00057b82
        status:
          type: string
        source:
          type: string
        accountId:
          type: string
          description: Unique Id
          example: 563e0b6a08a2710e00057b82
        listingId:
          type: string
          description: Unique Id
          example: 563e0b6a08a2710e00057b82
        checkIn:
          type: string
        checkOut:
          type: string
        note:
          type: string
        __v:
          type: number
        createdAt:
          type: string
        checkInDateLocalized:
          type: string
        checkOutDateLocalized:
          type: string
        plannedDeparture:
          type: string
        plannedArrival:
          type: string
        lastUpdatedAt:
          type: string
        listing:
          type: object
          properties:
            _id:
              type: string
              description: String (ObjectId)
              example: 59ac245d27cb310f0017afe3
            accountId:
              type: string
              description: String (ObjectId)
              example: 59ac245d27cb310f0017afe3
            createdAt:
              type: string
              example: '2017-09-03T15:48:45.070Z'
            integrations:
              type: array
              items:
                type: object
                properties:
                  _id:
                    type: string
                    description: Unique Id
                    example: 5958c7e5884e961000817799
                  airbnb2:
                    type: object
                    properties:
                      credentials:
                        type: object
                        properties:
                          code:
                            type: string
                          expiresAt:
                            type: integer
                          accessToken:
                            type: string
                          refreshToken:
                            type: string
                          lastForceRefresh:
                            type: string
                            description: date
                      forwardEmails:
                        type: object
                        properties:
                          all:
                            type: boolean
                            default: true
                          emails:
                            type: array
                            items:
                              type: string
                      createdAt:
                        type: string
                        description: date
                    description: Only if platform is airbnb
                    example:
                      ignored:
                        reservations: []
                        listings: []
                      emailsFromSupport: []
                  forwardEmails:
                    type: object
                    properties:
                      all:
                        type: boolean
                        default: true
                      emails:
                        type: array
                        items:
                          type: string
                  active:
                    type: boolean
                    description: Status of connection
                  platform:
                    type: string
                  listings:
                    type: array
                    items:
                      type: object
                      description: Listing details
                  complexes:
                    type: array
                    items:
                      type: object
                      description: Complex details
                  nickname:
                    type: string
                    example: naama
                  channelId:
                    type: string
                  activatedAt:
                    type: string
                    description: Date
                  disconnectedAt:
                    type: string
                    description: Date
                  proxyEmail:
                    type: string
                  incomingEmail:
                    type: string
                  externalAccountId:
                    type: string
                  id:
                    type: integer
                    example: naama@user.guesty.com
                    description: External ID
                  companyName:
                    type: string
                  fetchRequests:
                    type: array
                    items:
                      type: object
                      properties:
                        fetchAllListings:
                          type: boolean
                        externalListingIds:
                          type: array
                          items:
                            type: string
                        status:
                          type: string
                          enum:
                            - NOT_STARTED
                            - IN_PROGRESS
                            - COMPLETED
                            - FAILED
                            - TIMEOUT
                        createTime:
                          type: string
                          description: Date
                        updateTime:
                          type: string
                          description: Date
                        finishedTime:
                          type: string
                          description: Date
                  status:
                    type: string
                    enum:
                      - NOT_CONNECTED
                      - CONNECTING
                      - CONNECTED
                      - FAILED
                      - TIMEOUT
                      - DISCONNECTED
                      - PENDING
                  migration:
                    type: object
                    properties:
                      status:
                        type: string
                        enum:
                          - IN_PROGRESS
                          - COMPLETED
                          - FAILED
                      createTime:
                        type: string
                        description: Date
                      updateTime:
                        type: string
                        description: Date
                      finishedTime:
                        type: string
                        description: Date
                      steps:
                        type: array
                        items:
                          type: object
                          description: Step details
                      discrepancyStepExecuted:
                        type: boolean
                        default: false
                      discrepancyResolution:
                        type: string
                        enum:
                          - GUESTY
                          - AIRBNB
                      listingQuantityDiscrepancyStepExecuted:
                        type: boolean
                        default: false
                      error:
                        type: object
                        properties:
                          at:
                            type: string
                            description: Date
                          code:
                            type: string
                          message:
                            type: string
                          raw:
                            type: object
                      notes:
                        type: string
                      isRollingBack:
                        type: boolean
                        default: false
                  userId:
                    type: string
                    example: 563e0b6a08a2710e00057b85
                  accountId:
                    type: string
                    description: Owner
                    example: 563e0b6a08a2710e00057b82
                  tripAdvisor:
                    type: object
                    description: TripAdvisor details
                  homeaway2:
                    type: object
                    description: Homeaway details
                  bookingCom:
                    type: object
                    properties:
                      legalEntityId:
                        type: string
                    description: BookingCom details
                  createdAt:
                    type: string
                    description: Date
                  missingStep:
                    type: string
                  steps:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        status:
                          type: string
                          enum:
                            - COMPLETED
                            - IN_PROGRESS
                        createTime:
                          type: string
                          description: Date
                        updateTime:
                          type: string
                          description: Date
                  newIntegrationBackup:
                    type: object
                  threadIdsMigrated:
                    type: boolean
                  isDeleted:
                    type: boolean
                  deletedAt:
                    type: string
                    description: Date
            isVirtual:
              type: boolean
            nickname:
              type: string
            tags:
              type: array
              items:
                type: string
            isListed:
              type: boolean
            title:
              type: string
            propertyType:
              type: string
            roomType:
              type: string
            bedType:
              type: string
            accommodates:
              type: number
            bedrooms:
              type: number
            areaSquareFeet:
              type: number
            address:
              type: object
              properties:
                full:
                  type: string
                  description: full address
                  example: Kaplan St 2, Ramat Gan, Israel
                lng:
                  type: number
                  example: 34.8202173
                lat:
                  type: number
                  example: 32.0695525
                street:
                  type: string
                city:
                  type: string
                country:
                  type: string
            publishedAddress:
              type: object
              properties:
                full:
                  type: string
                  description: full address
                  example: Kaplan St 2, Ramat Gan, Israel
                lng:
                  type: number
                  example: 34.8202173
                lat:
                  type: number
                  example: 32.0695525
                street:
                  type: string
                city:
                  type: string
                country:
                  type: string
            timezone:
              type: string
            defaultCheckInTime:
              type: string
            defaultCheckOutTime:
              type: string
            cleaning:
              type: object
              properties:
                defaultCleaningTime:
                  type: string
                instructions:
                  type: string
            cleaningStatus:
              type: object
              properties:
                value:
                  type: string
                  enum:
                    - clean
                    - waitingForInspection
                    - dirty
                    - unknown
                updatedAt:
                  type: string
                  example: '2019-08-24T14:15:22Z'
            picture:
              type: object
              properties:
                regular:
                  type: string
                thumbnail:
                  type: string
                  example: https://res.cloudinary.com/guesty/image/upload/c_fit,h_200/v1659982852/staging6/5213a2d206112710005d96ff/gglflnes8vodgkmtm08c.jpg
                large:
                  type: string
                caption:
                  type: string
                height:
                  type: number
                  example: 756
                original:
                  type: string
                  example: https://res.cloudinary.com/guesty/image/upload/v1659982852/staging6/5213a2d206112710005d96ff/gglflnes8vodgkmtm08c.jpg
                size:
                  type: number
                  example: 39516
                width:
                  type: number
                  example: 756
            pictures:
              type: array
              items:
                type: object
                properties:
                  regular:
                    type: string
                  thumbnail:
                    type: string
                    example: https://res.cloudinary.com/guesty/image/upload/c_fit,h_200/v1659982852/staging6/5213a2d206112710005d96ff/gglflnes8vodgkmtm08c.jpg
                  large:
                    type: string
                  caption:
                    type: string
                  height:
                    type: number
                    example: 756
                  original:
                    type: string
                    example: https://res.cloudinary.com/guesty/image/upload/v1659982852/staging6/5213a2d206112710005d96ff/gglflnes8vodgkmtm08c.jpg
                  size:
                    type: number
                    example: 39516
                  width:
                    type: number
                    example: 756
            amenities:
              type: array
              items:
                type: string
            amenitiesNotIncluded:
              type: array
              items:
                type: string
            terms:
              type: object
              properties:
                minNights:
                  type: number
                maxNights:
                  type: number
                cancellation:
                  type: string
            prices:
              type: object
              properties:
                guestsIncludedInRegularFee:
                  type: number
                extraPersonFee:
                  type: number
                basePrice:
                  type: number
                basePriceUSD:
                  type: number
                monthlyPriceFactor:
                  type: number
                weeklyPriceFactor:
                  type: number
                weeendBasePrice:
                  type: number
                securityDepositFee:
                  type: number
                currency:
                  type: string
                cleaningFee:
                  type: number
            netIncomeFormula:
              type: string
            commissionFormula:
              type: string
            commissionTaxPrecentage:
              type: string
            pms:
              type: object
              properties:
                active:
                  type: boolean
                automation:
                  type: object
                  properties:
                    autoList:
                      type: object
                      properties:
                        active:
                          type: boolean
                        config:
                          type: array
                          items:
                            type: string
                inbox:
                  type: object
                  properties:
                    customSignature:
                      type: string
                cleaningStatus:
                  type: object
                  properties:
                    value:
                      type: string
                      enum:
                        - clean
                        - waitingForInspection
                        - dirty
                        - unknown
                    updatedAt:
                      type: string
                      example: '2019-08-24T14:15:22Z'
                paymentProcessing:
                  type: object
                  properties:
                    active:
                      type: boolean
                    paymentProviders:
                      type: object
                      properties:
                        stripe:
                          type: object
                          properties:
                            active:
                              type: boolean
                            status:
                              type: string
                            accountName:
                              type: string
                            defaultCurrency:
                              type: string
                            syncedAt:
                              type: string
                              format: date
                            payload:
                              type: object
                              properties:
                                id:
                                  type: string
                                livemode:
                                  type: boolean
                                token_type:
                                  type: string
                                stripe_publishable_key:
                                  type: string
                                stripe_user_id:
                                  type: string
                                scope:
                                  type: string
                autoPayments:
                  type: object
                  properties:
                    policy:
                      type: array
            receptionistsService:
              title: object
              properties:
                receptionDesk:
                  type: object
                  properties:
                    ittt:
                      type: array
                      items: {}
                screening:
                  type: object
                  properties:
                    checklist:
                      type: array
                      items: {}
                contactPersonUserId:
                  type: string
            active:
              type: boolean
            customFields:
              type: object
            calendarRules:
              type: object
            publicDescription:
              type: object
            privateDescription:
              type: object
            markups:
              type: object
        ownerId:
          type: object
          properties:
            locale:
              type: string
            email:
              type: string
            fullName:
              type: string
            listings:
              type: array
            _id:
              type: string
              description: Unique Id
              example: 563e0b6a08a2710e00057b82
            active:
              type: boolean
            allowReservations:
              type: boolean
            showReservationTooltips:
              type: boolean
            workingCapital:
              type: number
            firstName:
              type: string
            lastName:
              type: string
            accountId:
              type: string
              description: Unique Id
              example: 563e0b6a08a2710e00057b82
            createdAt:
              type: string
            ownersPortalSettings:
              type: object
              properties:
                bookedNights:
                  type: boolean
                revenue:
                  type: boolean
            forgotPassword:
              type: object
              properties:
                expiresAt:
                  type: string
                hash:
                  type: string
            __v:
              type: number
        nightsCount:
          type: number
        id:
          type: string
    OwnerId:
      type: object
      properties:
        locale:
          type: string
        email:
          type: string
        fullName:
          type: string
        listings:
          type: array
        _id:
          type: string
          description: Unique Id
          example: 563e0b6a08a2710e00057b82
        active:
          type: boolean
        allowReservations:
          type: boolean
        showReservationTooltips:
          type: boolean
        workingCapital:
          type: number
        firstName:
          type: string
        lastName:
          type: string
        accountId:
          type: string
          description: Unique Id
[...]
